snippet virtualenv_postactive "VirtualEnv Postactive snippet" b
function cdsrc {
  cd $VIRTUAL_ENV/src/
}

function cdbin {
  cd $VIRTUAL_ENV/bin/
}


export DJANGO_SETTINGS_MODULE='$1.settings.local'
export DJANGO_DATABASE_NAME='$1'
export PROJECT_DIR='/var/www/$1'
endsnippet
